# Node / JS
node_modules/
npm-debug.log*
yarn-error.log*

# Build artifacts
dist/
build/
.cache/

# Java / Spring
**/target/
**/.mvn/wrapper/maven-wrapper.jar

# IDE / OS
.DS_Store
Thumbs.db
*.iml
.idea/
.vscode/

# Env / secrets
.env
.env.local
